body {
    background-color: grey;
}

.simon {
    padding: 40px 40px;
    border:0px;
    opacity:.6;
    transition:.4s;
    font-size:0
}

#red{background-color: red; }
#green{background-color: green; }
#blue{background-color: blue; }
#yellow{background-color: yellow; }

.simon:hover{padding: 50px 50px;}
.simon:active { opacity:1;padding: 40px 40px;
      border:5px;
 }

.bigbutton {
  padding: 50px 50px;
  opacity:1
}

#score {color: white; 
  font-size: large;}